<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/materialadmin.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
{{{messages}}}
{{#if errors}}
	{{#each errors}}
		{{msg}}
	{{/each}}
{{/if}}
{{{body}}}gfgfhgfh
<script src="/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
